<app-common-table [columns]="columns1" [dataSource]="dataSource1" [defaultShortKey]="{ id: 'Name', start: 'desc'}"
    [totalRecords]="totalOrderRecords" [actionType]="{ update: 'true'}" (dataSort)="sortChange($event)">
</app-common-table>

<div class="col-12">
    <mat-card class="mb-4">
        <mat-card-content>
            <h4> New Record</h4>
            <form [formGroup]="userManagementForm" (ngSubmit)="userManagementSubmit()">
                <div class="row mt-2 d-flex align-item-center justify-content-between">
                    <ng-container *ngFor="let item of columns1">

                        <div *ngIf="item.columnDef !== 'select' && item.columnDef !== 'action' &&  item.columnDef !== 'addAction'"
                            class="col-2">
                            <div *ngIf="item.controlType && item.controlType =='text'">
                                <input type="text" class="form-control" [formControlName]="item.columnDef"
                                    [placeholder]="item.placeholder ? item.placeholder : '' "
                                    [ngClass]="{'is-invalid':userManagementForm.controls[item.columnDef].touched && userManagementForm.controls[item.columnDef].invalid}" />

                                <div *ngIf="userManagementForm.controls[item.columnDef].touched && userManagementForm.controls[item.columnDef].invalid"
                                    class="text-danger">
                                    {{item.columnDef }} required
                                </div>
                            </div>

                            <div *ngIf="item.controlType && item.controlType =='number'">
                                <input type="number" class="form-control" [formControlName]="item.columnDef"
                                    [placeholder]="item.placeholder ? item.placeholder : '' "
                                    [ngClass]="{'is-invalid':userManagementForm.controls[item.columnDef].touched && userManagementForm.controls[item.columnDef].invalid}" />

                                <div *ngIf="userManagementForm.controls[item.columnDef].touched && userManagementForm.controls[item.columnDef].invalid"
                                    class="text-danger">
                                    {{item.columnDef }} required
                                </div>
                            </div>

                            <div *ngIf="item.controlType && item.controlType =='email'">
                                <input type="email" class="form-control" [formControlName]="item.columnDef"
                                    [placeholder]="item.placeholder ? item.placeholder : '' "
                                    [ngClass]="{'is-invalid':userManagementForm.controls[item.columnDef].touched && userManagementForm.controls[item.columnDef].invalid}" />

                                <div *ngIf="userManagementForm.controls[item.columnDef].touched && userManagementForm.controls[item.columnDef].invalid"
                                    class="text-danger">
                                    {{item.columnDef }} required
                                </div>
                            </div>

                            <div *ngIf="item.controlType && item.controlType =='select'
                        && item.sourceOptions && item.sourceOptions.length > 0">
                                <select class="form-select form-control" [formControlName]="item.columnDef"
                                    [ngClass]="{'is-invalid':userManagementForm.controls[item.columnDef].touched && userManagementForm.controls[item.columnDef].invalid}">
                                    <option *ngFor="let opt of item.sourceOptions" [value]="opt.value">
                                        {{opt.label}}
                                    </option>
                                </select>
                                <div *ngIf="userManagementForm.controls[item.columnDef].touched && userManagementForm.controls[item.columnDef].invalid"
                                    class="text-danger">
                                    {{item.columnDef }} required
                                </div>

                            </div>
                        </div>


                    </ng-container>
                    <div class="col-1">
                        <button type="submit" class="btn save mx-1" [disabled]="userManagementForm.invalid">
                            <mat-icon class="text-primary"> save</mat-icon>
                        </button>
                    </div>
                </div>



                <div class="d-flex justify-content-center mt-1 mb-1">
                    <button type="button" class="btn btn-secondary text-white" routerLink="/">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary text-white mx-1" disabled>
                        Update
                    </button>
                    <button type="button" class="btn btn-danger text-white">
                        Delete
                    </button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>