<app-common-table [columns]="parentColumns" [dataSource]="parentDataSource"
    [defaultShortKey]="{ id: 'Depositor', start: 'desc'}" [totalRecords]="totalOrderRecords"
    [mainIconForMenu]="'settings'" [menuItems]="settingOptionArr" [actionType]="actionsTypeArr"
    [childActionType]="childActionTypeArr" (dataSort)="sortChange($event)" [isChildTable]="true"
    [childDataSourceKey]="childDataSourceKey" [childTableColumns]="childTableColumns"
    (updatedData)="getEditData($event)" (emitPagesValue)="getPaginationDetail($event)"
    (SearchValue)="getSearchValue($event)" (selectedRows)="getSelectedRows($event)">
</app-common-table>