<div ngPreserveWhitespaces>
    <div class="col-12">
        <mat-card class="mb-4">
            <mat-card-header>
                <strong>
                    Product maximal dimensions
                </strong>
            </mat-card-header>

            <mat-card-content>
                <form [formGroup]="productMaximalDimensions" (ngSubmit)="productMaximalFormSubmit()">
                    <div class="mb-3">
                        <div class="table-responsive">
                            <table class="table" formArrayName="tableData">
                                <thead>
                                    <tr>
                                        <th scope="col" class="w-25"></th>
                                        <th scope="col">Width</th>
                                        <th scope="col">Length</th>
                                        <th scope="col">Heigth</th>
                                        <th scope="col">Weight</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of tableData.value ; let i = index">
                                        <ng-container [formGroupName]="i">
                                            <tr>
                                                <th scope="row">
                                                    {{item.title}}
                                                </th>
                                                <td>
                                                    <input type="number" placeholder="Value" sizing="sm"
                                                        class="form-control w-100" formControlName="Width"
                                                        [ngClass]="{'is-invalid':tableData.controls[i].get('Width')?.touched && tableData.controls[i].get('Width')?.invalid}" />
                                                    <p class="text-danger"
                                                        *ngIf="tableData.controls[i].get('Width')?.invalid && (tableData.controls[i].get('Width')?.dirty || tableData.controls[i].get('Width')?.touched)">
                                                        Width is required.
                                                    </p>
                                                </td>
                                                <td>
                                                    <input type="number" placeholder="Value" sizing="sm"
                                                        class="form-control w-100" formControlName="Length"
                                                        [ngClass]="{'is-invalid':tableData.controls[i].get('Length')?.touched && tableData.controls[i].get('Length')?.invalid}" />
                                                    <p class="text-danger"
                                                        *ngIf="tableData.controls[i].get('Length')?.invalid && (tableData.controls[i].get('Length')?.dirty || tableData.controls[i].get('Width')?.touched)">
                                                        Length is required.
                                                    </p>
                                                </td>
                                                <td>
                                                    <input type="number" placeholder="Value" sizing="sm"
                                                        class="form-control w-100" formControlName="Height"
                                                        [ngClass]="{'is-invalid':tableData.controls[i].get('Height')?.touched && tableData.controls[i].get('Height')?.invalid}" />
                                                    <p class="text-danger"
                                                        *ngIf="tableData.controls[i].get('Height')?.invalid && (tableData.controls[i].get('Height')?.dirty || tableData.controls[i].get('Width')?.touched)">
                                                        Height is required.
                                                    </p>
                                                </td>
                                                <td>
                                                    <input type="number" placeholder="Value" sizing="sm"
                                                        class="form-control w-100" formControlName="Weight"
                                                        [ngClass]="{'is-invalid':tableData.controls[i].get('Weight')?.touched && tableData.controls[i].get('Weight')?.invalid}" />
                                                    <p class="text-danger"
                                                        *ngIf="tableData.controls[i].get('Weight')?.invalid && (tableData.controls[i].get('Weight')?.dirty || tableData.controls[i].get('Width')?.touched)">
                                                        Weight is required.
                                                    </p>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <div class=" d-flex justify-content-center">
                            <button type="button" class="btn btn-secondary text-white" routerLink="/">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary text-white mx-1"
                                [disabled]="productMaximalDimensions['invalid']">
                                Update
                            </button>

                            <!-- [disabled]="productMaximalDimensions?.invalid" -->
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div ngPreserveWhitespaces>
    <div class="col-12">
        <mat-card class="mb-4">
            <mat-card-content>
                <app-common-table [datasource]="rowDetails" [tableHeader]="columnHeader" [checkboxSelect]="true"
                    [subModalOption]="false" [popSubTableData]="false" [action]="false" [subTableaction]="false"
                    [settingOption]="false" [reorder]="true" [Pagination]="50" [limit]="5"
                    [searchOption]="false"></app-common-table>

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary text-white" routerLink="/">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary mx-1" disabled>
                        Update
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>