<div ngPreserveWhitespaces>
    <div class="col-12">
        <mat-card class="mb-4">
            <mat-card-header>
                <strong>
                    Product maximal dimensions
                </strong>
            </mat-card-header>

            <mat-card-content>
                <form [formGroup]="productMaximalDimensions" (ngSubmit)="productMaximalFormSubmit()">
                    <div class="mb-3">
                        <div class="table-responsive">
                            <table class="table" formArrayName="tableData">
                                <thead>
                                    <tr>
                                        <th scope="col" class="w-25"></th>
                                        <th scope="col">Width</th>
                                        <th scope="col">Length</th>
                                        <th scope="col">Heigth</th>
                                        <th scope="col">Weight</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of tableData.value ; let i = index">
                                        <ng-container [formGroupName]="i">
                                            <tr>
                                                <td>
                                                    {{item.title}}
                                                </td>
                                                <td>
                                                    <input type="number" placeholder="Value" sizing="sm"
                                                        class="form-control w-100" formControlName="Width"
                                                        [ngClass]="{'is-invalid':tableData.controls[i].get('Width')?.touched && tableData.controls[i].get('Width')?.invalid}" />
                                                    <p class="text-danger"
                                                        *ngIf="tableData.controls[i].get('Width')?.invalid && (tableData.controls[i].get('Width')?.dirty || tableData.controls[i].get('Width')?.touched)">
                                                        Width is required.
                                                    </p>
                                                </td>
                                                <td>
                                                    <input type="number" placeholder="Value" sizing="sm"
                                                        class="form-control w-100" formControlName="Length"
                                                        [ngClass]="{'is-invalid':tableData.controls[i].get('Length')?.touched && tableData.controls[i].get('Length')?.invalid}" />
                                                    <p class="text-danger"
                                                        *ngIf="tableData.controls[i].get('Length')?.invalid && (tableData.controls[i].get('Length')?.dirty || tableData.controls[i].get('Width')?.touched)">
                                                        Length is required.
                                                    </p>
                                                </td>
                                                <td>
                                                    <input type="number" placeholder="Value" sizing="sm"
                                                        class="form-control w-100" formControlName="Height"
                                                        [ngClass]="{'is-invalid':tableData.controls[i].get('Height')?.touched && tableData.controls[i].get('Height')?.invalid}" />
                                                    <p class="text-danger"
                                                        *ngIf="tableData.controls[i].get('Height')?.invalid && (tableData.controls[i].get('Height')?.dirty || tableData.controls[i].get('Width')?.touched)">
                                                        Height is required.
                                                    </p>
                                                </td>
                                                <td>
                                                    <input type="number" placeholder="Value" sizing="sm"
                                                        class="form-control w-100" formControlName="Weight"
                                                        [ngClass]="{'is-invalid':tableData.controls[i].get('Weight')?.touched && tableData.controls[i].get('Weight')?.invalid}" />
                                                    <p class="text-danger"
                                                        *ngIf="tableData.controls[i].get('Weight')?.invalid && (tableData.controls[i].get('Weight')?.dirty || tableData.controls[i].get('Width')?.touched)">
                                                        Weight is required.
                                                    </p>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-secondary text-white" routerLink="/">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary text-white mx-1"
                                [disabled]="productMaximalDimensions['invalid']">
                                Update
                            </button>

                            <!-- [disabled]="productMaximalDimensions?.invalid" -->
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>




<app-common-table [columns]="columns1" [dataSource]="dataSource1" [defaultShortKey]="{ id: 'Name', start: 'desc'}"
    [totalRecords]="totalOrderRecords" [actionType]="{ update: 'true'}" (dataSort)="sortChange($event)">
</app-common-table>

<div class="col-12">
    <mat-card class="mb-4">
        <mat-card-content>

            <h4> New Record</h4>
            <form [formGroup]="skusForm" (ngSubmit)="skusFormSubmit()">
                <div class="row mt-2 d-flex align-item-center">
                    <ng-container *ngFor="let item of columns1">
                        <div *ngIf="item.columnDef !== 'select' && item.columnDef !== 'action' &&  item.columnDef !== 'addAction'"
                            class="col-2">
                            <div *ngIf="item.controlType && item.controlType =='text'">
                                <input type="text" class="form-control" [formControlName]="item.columnDef"
                                    [placeholder]="item.placeholder ? item.placeholder : '' "
                                    [ngClass]="{'is-invalid':skusForm.controls[item.columnDef].touched && skusForm.controls[item.columnDef].invalid}" />

                                <div *ngIf="skusForm.controls[item.columnDef].touched && skusForm.controls[item.columnDef].invalid"
                                    class="text-danger">
                                    {{item.columnDef }} required
                                </div>
                            </div>
                        </div>

                    </ng-container>

                    <div class="col-1">
                        <button type="submit" class="btn save mx-1" [disabled]="skusForm.invalid">
                            <mat-icon class="text-primary"> save</mat-icon>
                        </button>
                    </div>
                </div>

            </form>


            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-secondary text-white" routerLink="/">
                    Cancel
                </button>
                <button type="submit" class="btn btn-primary text-white mx-1" disabled>
                    Update
                </button>
                <button type="button" class="btn btn-danger text-white">
                    Delete
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>