<!-- <button mat-stroked-button (click)="openSnackBar('Hello,This is success Message', 'Close')">Show snack-bar</button> -->
<!-- 
<div class="cus-snakebar">
    <mat-icon>done</mat-icon>
    &nbsp;
    <span>Item Saved SuccessFully</span>
    <div class="spacer"></div>
    <button mat-button>
        Ok
    </button>
</div> -->



<div class="d-flex align-items-center">
    <div class="alert-body">
        <img src="assets/img/icons/{{data.img}}" class="w-50" />
    </div>
    <div class="data example-pizza-party">{{ data.message }}</div>
    <div class="dismiss">
        <button mat-icon-button (click)="snackBarRef.dismiss()">
            <mat-icon>{{ data.action }}</mat-icon>
        </button>
    </div>
</div>