<div class="row">
  <div class="col-12">
    <form [formGroup]="searchForm">
      <div class="form-group d-flex justify-content-between mb-4">
        <input type="text" placeholder="Search" class="form-control w-100 mx-1" formControlName="searchValue" />
        <button type="button" mat-raised-button color="primary" (click)="getSearchValue()">
          Search
        </button>
      </div>
    </form>
  </div>
</div>

<form [formGroup]="editTableForm" class="form-group">
  <table mat-table cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="tableDrop($event)" matSort
    (matSortChange)="sortData($event)" [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container *ngFor="let column of columns">

      <!-- Checkbox Column -->
      <ng-container *ngIf="column.columnDef == 'select'" sticky matColumnDef="select">
        <th mat-header-cell sticky *matHeaderCellDef id="check" class="px-0" cdkDrag cdkDragLockAxis="x"
          cdkDragBoundary="mat-header-row">
          <mat-checkbox (change)="$event ? toggleAllRows() : null ; onRowSelected($event)"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row  ; let rowIndex = index;" class="px-0">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null ; onRowSelected($event)"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngIf="column.columnDef == 'addAction'" [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef id="forAction1" class="px-0" cdkDrag cdkDragLockAxis="x"
          cdkDragBoundary="mat-header-row"> </th>
        <td mat-cell *matCellDef="let element let rowIndex=index" class="px-0">
          <div class="d-flex align-item-center justify-content-start px-0 m-0">

            <div *ngIf="isChildTable">

              <button mat-button [matMenuTriggerFor]="childTableMenu" (click)="setDynamicId(rowIndex)"
                #trigger="matMenuTrigger" [disabled]="(selectedChildRowIndex || selectedChildRowIndex === 0 ) &&
    (selectedChildRowIndex !== rowIndex) " class="mt-2">
                <mat-icon class="text-primary" *ngIf="(!selectedChildRowIndex && selectedChildRowIndex !== 0) || 
      (selectedChildRowIndex !== rowIndex)">keyboard_arrow_down</mat-icon>
                <mat-icon class="text-primary" *ngIf="(selectedChildRowIndex || selectedChildRowIndex === 0 ) &&
      (selectedChildRowIndex == rowIndex) ">keyboard_arrow_up</mat-icon>
              </button>

              <mat-menu #childTableMenu="matMenu" class="menu-form-wrapper custom-menu" [hasBackdrop]="false">
                <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">

                  <div class="row">
                    <div class="col-12 d-flex align-item-center justify-content-end">
                      <mat-icon class="text-danger m-2" (click)="trigger.closeMenu(); closeTableMenu()">close</mat-icon>
                    </div>
                  </div>

                  <app-common-child-table [childDataSource]="element[childDataSourceKey]"
                    [childColumns]="childTableColumns" [childActionType]="childActionType">
                  </app-common-child-table>

                </div>
              </mat-menu>
            </div>

            <div *ngIf="menuItems && menuItems.length > 0 && mainIconForMenu">

              <button mat-icon-button [matMenuTriggerFor]="menu"
                [disabled]="(selectedChildRowIndex || selectedChildRowIndex === 0 ) ">
                <mat-icon>{{mainIconForMenu}}</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <ng-container *ngFor="let option of menuItems ; let menuIndex = index">
                  <button mat-menu-item>
                    <!-- <mat-icon>{{option.icon || '' }}</mat-icon> -->
                    <img src="assets/img//icons/{{option.icon}}" />
                    <span class="mx-1">{{option.label || ''}}</span>
                  </button>
                </ng-container>
              </mat-menu>

            </div>

          </div>
        </td>
      </ng-container>

      <ng-container *ngIf="column.columnDef != 'action' && column.columnDef !=='addAction'
      && column.columnDef !== 'select'" [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
          cdkDragBoundary="mat-header-row">
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row ;  let i = index;">
          <div *ngIf="(rowIndex !== i)">
            {{column.cell(row)}}
          </div>
          <div *ngIf="rowIndex == i && isEdit">

            <div *ngIf="column.controlType && column.controlType =='text'">
              <input type="text" class="form-control" [formControlName]="column.columnDef"
                [placeholder]="column.placeholder ? column.placeholder : '' " />
            </div>

            <div *ngIf="column.controlType && column.controlType =='number'">
              <input type="number" class="form-control" [formControlName]="column.columnDef"
                [placeholder]="column.placeholder ? column.placeholder : '' " />
            </div>

            <div *ngIf="column.controlType && column.controlType =='select'
            && column.sourceOptions && column.sourceOptions.length > 0">
              <select class="form-select form-control" [formControlName]="column.columnDef">

                <option *ngFor="let opt of column.sourceOptions" [value]="opt.value">
                  {{opt.label}}
                </option>

              </select>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container *ngIf="column.columnDef == 'action' && actionType && actionType.length > 0"
        [matColumnDef]="column.columnDef" stickyEnd>
        <th mat-header-cell stickyEnd *matHeaderCellDef id="forAction" cdkDrag cdkDragLockAxis="x"
          cdkDragBoundary="mat-header-row">
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let element let i=index">
          <div *ngIf="(!rowIndex && rowIndex !== i)">
            <ng-container *ngFor="let act of actionType">
              <mat-icon class="mx-2 {{act.class}}" (click)="onActionClick(act.name , element , i )">
                {{act.icons}}
              </mat-icon>
            </ng-container>
          </div>

          <div *ngIf="rowIndex == i && isEdit">
            <mat-icon class="mx-2 text-primary" (click)="onActionClick('save' , element , i )">
              save
            </mat-icon>
          </div>
        </td>
      </ng-container>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div class="row mt-1">
    <div class="col-12">
      <mat-paginator id="MatPaginator" [hidden]="(!dataSource || !dataSource.data || dataSource.data.length == 0) "
        style="background-color: transparent !important;" showFirstLastButtons [length]="totalRecords" #paginator
        [pageSize]="currentPageSize" [pageSizeOptions]="[10, 20, 30, 50,100]" (page)="onPaginateChange($event)">
      </mat-paginator>
    </div>
  </div>
</form>