<div class=" d-flex align-item-center justify-content-end">
    <mat-icon class="d-flex justify-content-end align-item-center text-danger m-3" (click)="onOkClick()">
        clear
    </mat-icon>
</div>

<!-- <mat-dialog-content class="mat-typography ">
    <div class="align-content  w-100">

        <div *ngIf="data.title == 'Error'">
            <mat-icon class="me-3 align-content text-danger">cancel</mat-icon>
        </div>

        <div *ngIf="data.title=='Success'" class=" align-content w-100">
            <mat-icon class="me-3  text-success">check_circle</mat-icon>
            <div class=" text-dark"><strong>Success</strong></div>
            <br>
        </div>

        <div *ngIf="data.title == 'Warning'" class=" align-content w-100">
            <mat-icon class="me-3  text-warning">warning</mat-icon>
            <div class="text-dark"><strong>Warning</strong></div>
            <br>
        </div>

        <div *ngIf="data.title=='Confirm'" class=" align-content w-100">
            <mat-icon class="me-3 text-warning ">help</mat-icon>
            <div class=" text-dark"><strong>Confirm</strong></div>
            <br>
        </div>
    </div>

    <div *ngIf="content" class="align-content text-dark" [innerHTML]="content">

    </div>
</mat-dialog-content>


<mat-dialog-actions align="center" *ngIf="(data.type =='Confirm') ">
    <button mat-raised-button color="warn" class="me-2" mat-dialog-close>Cancel</button>
    <button type="button" mat-raised-button mat-dialog-close="Yes" cdkFocusInitial color="primary"
        tabindex="1">OK</button>
</mat-dialog-actions>

<mat-dialog-actions align="center" *ngIf="data.type == 'Info'" align="end">
    <button type="button" mat-raised-button color="secondary" mat-dialog-close="OK" cdkFocusInitial
        tabindex="1">OK</button>
</mat-dialog-actions> -->


<!-- Alter Dialog component -->
<!-- <h1 mat-dialog-title class="text-center">Common Altert Commonent!!!</h1> -->
<div mat-dialog-content>
    <div class="align-content w-100">
        <div class="text-center p-4 alert-body" *ngIf="data.message === 'delete'">
            <img src="assets/img/icons/errorOutline.svg">
            <h5 class="mt-2 mb-2">Are You Sure!!!</h5>
            <p class="mt-2 mb-2">Are you want to delete this.</p>
        </div>

        <div class="text-center p-4 alert-body" *ngIf="data.message === 'success'">
            <img src="assets/img/icons/checkCircle.svg">
            <h5 class="mt-2 mb-2">Success</h5>
            <p class="mt-2 mb-2">Your operation was completed successfully.</p>
        </div>

        <div class="text-center p-4 alert-body" *ngIf="data.message === 'warning'">
            <img src="assets/img/icons/errorOutline.svg">
            <h5 class="mt-2 mb-2">Warning</h5>
            <p class="mt-2 mb-2">This action may result in data losse
        </div>

        <div class="d-flex gap-2 justify-content-center" mat-dialog-actions>
            <button class="btn btn-danger btn-sm px-4" mat-dialog-close *ngIf="data.message === 'delete'">
                NO
            </button>

            <button class="btn btn-success btn-sm px-4" mat-dialog-close *ngIf="data.message === 'delete'">YES</button>

            <button class="btn btn-success btn-sm px-4" mat-dialog-close *ngIf="data.message === 'success'">
                Ok
            </button>

            <button class="btn btn-primary btn-sm px-4" mat-dialog-close *ngIf="data.message === 'warning'">
                Ok
            </button>

            <button class="btn btn-secondary btn-sm px-4" mat-dialog-close *ngIf="data.message === 'warning'">
                Cancel
            </button>



        </div>
    </div>
</div>