.confirmpopup {
  text-align: center;
}

.align-content {
  display: block !important;
  text-align: center;
}

mat-icon {
  font-size: 27px !important;
}

.alert-body {
  img {
    max-width: 60px;
  }
}
