/* You can add global styles to this file, and also import other style files */
@use "app/themefolders/theme/style";
@use "styles/themes";
@use "styles/custom";
@use "styles/grid";
@use "styles/helpers";
@use "styles/plugins";

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

// @import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

.custom-menu.mat-mdc-menu-panel {
  width: calc(100vw - 400px) !important;
  max-width: calc(100vw - 400px) !important;
  // height: calc(100vw - 1160px) !important;
  max-height: calc(100vw - 1160px) !important;
  box-shadow: 0px 0px 15px 5px rgba(31, 38, 62, 0.75);
}

// ::ng-deep .child-table .mat-mdc-menu-panel {
//   width: calc(100vw - 400px) !important;
//   max-width: calc(100vw - 400px) !important;
//   height: calc(100vw - 1160px) !important;
//   max-height: calc(100vw - 1160px) !important;
// }
