<div>
  <div class="col-12">
    <mat-card class="mb-4">
      <mat-card-header class="mb-2">
        <strong>
          SETTINGS
        </strong>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="generalSettings" (ngSubmit)="settingSubmit()">

          <div class="row mb-3">
            <div class="col-md-4">
              <label cLabel class="col-form-label" for="SDToNDVM">
                Change SD to ND if VM is constrained
              </label>
            </div>
            <div class="col-md-8">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                  formControlName="changeSDtoND">
              </div>
            </div>

          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <label cLabel class="col-form-label" for="dimTolerance">
                DIM tolerance on VM check (%)
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input type="number" placeholder="Value" class="form-control" formControlName="dimTolerance"
                [ngClass]="{'is-invalid':generalSettings.controls['dimTolerance'].touched && generalSettings.controls['dimTolerance'].invalid}" />
              <div
                *ngIf="generalSettings.controls['dimTolerance'].invalid && (generalSettings.controls['dimTolerance'].dirty || generalSettings.controls['dimTolerance'].touched)"
                class="text-danger">
                DIM tolerance on VM check is required
              </div>
            </div>

          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              <label cLabel class=" col-form-label" for="emailSosna">
                Email Sosna
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input type="text" placeholder="Value" class="form-control" formControlName="emailSosna"
                [ngClass]="{'is-invalid':generalSettings.controls['emailSosna'].touched && generalSettings.controls['emailSosna'].invalid}" />
              <div
                *ngIf="generalSettings.controls['emailSosna'].invalid && (generalSettings.controls['emailSosna'].dirty || generalSettings.controls['emailSosna'].touched)"
                class="text-danger">
                Email Sosna is required
              </div>
            </div>

          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              <label cLabel class="col-form-label" for="emailCheetah">
                Email Cheetah
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input type="text" placeholder="Value" class="form-control" formControlName="emailCheetah"
                [ngClass]="{'is-invalid':generalSettings.controls['emailCheetah'].touched && generalSettings.controls['emailCheetah'].invalid}" />
              <div
                *ngIf="generalSettings.controls['emailCheetah'].invalid && (generalSettings.controls['emailCheetah'].dirty || generalSettings.controls['emailCheetah'].touched)"
                class="text-danger">
                Email Cheetah is required
              </div>
            </div>

          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              <label cLabel class="col-form-label" for="emailFlyingCargo">
                Email FlyingCargo (FCE & Boxit)
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input type="text" placeholder="Value" class="form-control" formControlName="emailFlyingCargo"
                [ngClass]="{'is-invalid':generalSettings.controls['emailFlyingCargo'].touched && generalSettings.controls['emailFlyingCargo'].invalid}" />
              <div
                *ngIf="generalSettings.controls['emailFlyingCargo'].invalid && (generalSettings.controls['emailFlyingCargo'].dirty || generalSettings.controls['emailFlyingCargo'].touched)"
                class="text-danger">
                Email FlyingCargo (FCE & Boxit) is required
              </div>
            </div>

          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              <label cLabel class="col-form-label" for="mailKatz">
                Mail Katz
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input type="text" placeholder="Value" class="form-control" formControlName="mailKatz"
                [ngClass]="{'is-invalid':generalSettings.controls['mailKatz'].touched && generalSettings.controls['mailKatz'].invalid}" />
              <div
                *ngIf="generalSettings.controls['mailKatz'].invalid && (generalSettings.controls['mailKatz'].dirty || generalSettings.controls['mailKatz'].touched)"
                class="text-danger">
                Mail Katz is required
              </div>
            </div>

          </div>

          <div class="row mb-3 form-group">
            <div class="col-md-4">
              <label cLabel class="col-form-label" for="dispatchAlertEmaila">
                Dispatch monitor alert emails
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input type="text" placeholder="Value" class="form-control" formControlName="dispatchAlertEmail"
                [ngClass]="{'is-invalid':generalSettings.controls['dispatchAlertEmail'].touched && generalSettings.controls['dispatchAlertEmail'].invalid}" />
              <div
                *ngIf="generalSettings.controls['dispatchAlertEmail'].invalid && (generalSettings.controls['dispatchAlertEmail'].dirty || generalSettings.controls['dispatchAlertEmail'].touched)"
                class="text-danger">
                Dispatch monitor alert emails is required
              </div>
            </div>

          </div>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary text-white" routerLink="/">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary mx-1" [disabled]="generalSettings.invalid">
              Update
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div>
  <div class="col-12">
    <mat-card class="mb-4">
      <mat-card-header>
        <strong>
          Operational Time frames
        </strong>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="generalOTFrames" (ngSubmit)="OTframeSubmit()">
          <div class="mb-3">
            <div md="3">
              <label cLabel class="col-form-label" for="operational time">
                ND to SD change time-window
                <span class="text-danger">*</span>
              </label>
            </div>

            <div md="1">
              <label cLabel class="col-form-label mt-1" for="startNDSD">
                Start:
              </label>
            </div>

            <div md="3">
              <!-- <ngb-timepicker formControlName="NDtoSDstart"></ngb-timepicker> -->
            </div>

            <div md="1">
              <label cLabel class="col-form-label mt-1" for="startNDSD">
                End:
              </label>
            </div>

            <div md="3">
              <!-- <ngb-timepicker formControlName="NDtoSDend"></ngb-timepicker> -->
            </div>

          </div>

          <div class="mb-3">
            <div md="3">
              <label cLabel class="col-form-label" for="operational time">
                SD accept time of day threshold
                <span class="text-danger">*</span>
              </label>
            </div>

            <div md="1">
              <label cLabel class="col-form-label" for="startNDSD">
                Start:
              </label>
            </div>

            <div md="3">
              <!-- <ngb-timepicker formControlName="SDacceptStart"></ngb-timepicker> -->
            </div>

          </div>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary text-white" routerLink="/">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary text-white mx-1" [disabled]="!generalOTFrames.valid">
              Update
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>