<div>
  <div class="col-12">
    <mat-card class="mb-4">

      <mat-card-header>
        <strong>
          {{ 'SETTING.GENERAL.SETTINGS' | translate }}
        </strong>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="generalSettings" (ngSubmit)="settingSubmit()">

          <div class="mb-3">

            <div class="col-md-4">
              <label cLabel class="col-form-label" for="SDToNDVM">
                {{ 'SETTING.GENERAL.CHANGE_SD_TO_ND_IF_VM' | translate }}
              </label>
            </div>

            <div class="col-md-8">
              <!-- <c-form-check sizing="lg" switch>
                <input cFormCheckInput checked type="checkbox" formControlName="changeSDtoND" />
              </c-form-check> -->
            </div>

          </div>

          <div class="mb-3">

            <div class="col-md-4">
              <label cLabel class="col-form-label" for="dimTolerance">
                {{ 'SETTING.GENERAL.DIM_TOLERANCE_VM' | translate }}
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input cFormControl type="number" placeholder="Value" class="form-control" formControlName="dimTolerance"
                [ngClass]="{'is-invalid':generalSettings.controls['dimTolerance'].touched && generalSettings.controls['dimTolerance'].invalid}" />
              <div
                *ngIf="generalSettings.controls['dimTolerance'].invalid && (generalSettings.controls['dimTolerance'].dirty || generalSettings.controls['dimTolerance'].touched)"
                class="text-danger">
                DIM tolerance on VM check is required
              </div>
            </div>

          </div>

          <div class="mb-3">

            <div class="col-md-4">
              <label cLabel class=" col-form-label" for="emailSosna">
                {{ 'SETTING.GENERAL.EMAIL_SOSNA' | translate }}
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input cFormControl type="text" placeholder="Value" class="form-control" formControlName="emailSosna"
                [ngClass]="{'is-invalid':generalSettings.controls['emailSosna'].touched && generalSettings.controls['emailSosna'].invalid}" />
              <div
                *ngIf="generalSettings.controls['emailSosna'].invalid && (generalSettings.controls['emailSosna'].dirty || generalSettings.controls['emailSosna'].touched)"
                class="text-danger">
                Email Sosna is required
              </div>
            </div>

          </div>

          <div class="mb-3">

            <div class="col-md-4">
              <label cLabel class="col-form-label" for="emailCheetah">
                {{ 'SETTING.GENERAL.EMAIL_CHEETAH' | translate }}
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input cFormControl type="text" placeholder="Value" class="form-control" formControlName="emailCheetah"
                [ngClass]="{'is-invalid':generalSettings.controls['emailCheetah'].touched && generalSettings.controls['emailCheetah'].invalid}" />
              <div
                *ngIf="generalSettings.controls['emailCheetah'].invalid && (generalSettings.controls['emailCheetah'].dirty || generalSettings.controls['emailCheetah'].touched)"
                class="text-danger">
                Email Cheetah is required
              </div>
            </div>

          </div>

          <div class="mb-3">

            <div class="col-md-4">
              <label cLabel class="col-form-label" for="emailFlyingCargo">
                {{ 'SETTING.GENERAL.EMAIL_FLYING_CARGO' | translate }}
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input cFormControl type="text" placeholder="Value" class="form-control"
                formControlName="emailFlyingCargo"
                [ngClass]="{'is-invalid':generalSettings.controls['emailFlyingCargo'].touched && generalSettings.controls['emailFlyingCargo'].invalid}" />
              <div
                *ngIf="generalSettings.controls['emailFlyingCargo'].invalid && (generalSettings.controls['emailFlyingCargo'].dirty || generalSettings.controls['emailFlyingCargo'].touched)"
                class="text-danger">
                Email FlyingCargo (FCE & Boxit) is required
              </div>
            </div>

          </div>

          <div class="mb-3">

            <div class="col-md-4">
              <label cLabel class="col-form-label" for="mailKatz">
                {{ 'SETTING.GENERAL.MAIL_KATZ' | translate }}
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input cFormControl type="text" placeholder="Value" class="form-control" formControlName="mailKatz"
                [ngClass]="{'is-invalid':generalSettings.controls['mailKatz'].touched && generalSettings.controls['mailKatz'].invalid}" />
              <div
                *ngIf="generalSettings.controls['mailKatz'].invalid && (generalSettings.controls['mailKatz'].dirty || generalSettings.controls['mailKatz'].touched)"
                class="text-danger">
                Mail Katz is required
              </div>
            </div>

          </div>

          <div class="mb-3 form-group">

            <div class="col-md-4">
              <label cLabel class="col-form-label" for="dispatchAlertEmaila">
                {{ 'SETTING.GENERAL.DISPATCH_MONITOR_ALTER_EMAILS' | translate }}
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="col-md-8">
              <input cFormControl type="text" placeholder="Value" class="form-control"
                formControlName="dispatchAlertEmail"
                [ngClass]="{'is-invalid':generalSettings.controls['dispatchAlertEmail'].touched && generalSettings.controls['dispatchAlertEmail'].invalid}" />
              <div
                *ngIf="generalSettings.controls['dispatchAlertEmail'].invalid && (generalSettings.controls['dispatchAlertEmail'].dirty || generalSettings.controls['dispatchAlertEmail'].touched)"
                class="text-danger">
                Dispatch monitor alert emails is required
              </div>
            </div>

          </div>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary text-white" routerLink="/">
              {{ 'COMMON.CANCEL' | translate }}
            </button>
            <button type="submit" class="btn btn-primary mx-1" [disabled]="generalSettings.invalid">
              {{ 'COMMON.UPDATE' | translate }}
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div>
  <div class="col-12">
    <mat-card class="mb-4">

      <mat-card-header>
        <strong>
          {{ 'SETTING.GENERAL.OPERATIONAL_TIME.OPERATIONAL_TIME_FRAMES' | translate }}
        </strong>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="generalOTFrames" (ngSubmit)="OTframeSubmit()">
          <div class="mb-3">

            <div md="3">
              <label cLabel class="col-form-label" for="operational time">
                {{ 'SETTING.GENERAL.OPERATIONAL_TIME.ND_TO_SD_CHANGE_TIME_WINDOW' | translate }}
                <span class="text-danger">*</span>
              </label>
            </div>

            <div md="1">
              <label cLabel class="col-form-label mt-1" for="startNDSD">
                Start:
              </label>
            </div>

            <div md="3">
              <!-- <ngb-timepicker formControlName="NDtoSDstart"></ngb-timepicker> -->
            </div>

            <div md="1">
              <label cLabel class="col-form-label mt-1" for="startNDSD">
                End:
              </label>
            </div>

            <div md="3">
              <!-- <ngb-timepicker formControlName="NDtoSDend"></ngb-timepicker> -->
            </div>

          </div>

          <div class="mb-3">

            <div md="3">
              <label cLabel class="col-form-label" for="operational time">
                {{ 'SETTING.GENERAL.OPERATIONAL_TIME.SD_ACCEPT_TIME_OF_DAY' | translate }}
                <span class="text-danger">*</span>
              </label>
            </div>

            <div md="1">
              <label cLabel class="col-form-label" for="startNDSD">
                Start:
              </label>
            </div>

            <div md="3">
              <!-- <ngb-timepicker formControlName="SDacceptStart"></ngb-timepicker> -->
            </div>

          </div>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary text-white" routerLink="/">
              {{ 'COMMON.CANCEL' | translate }}
            </button>
            <button type="submit" class="btn btn-primary text-white mx-1" [disabled]="!generalOTFrames.valid">
              {{ 'COMMON.UPDATE' | translate }}
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>